[defaults]
strategy_plugins = /opt/mitogen-master/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
host_key_checking = False
forks = 12
inventory = inventory
roles_path = roles
display_skipped_hosts = false
any_errors_fatal = true

